@import "root";
/*Button styling*/
.read-more {
  // border-radius: 10px;
}
.wp-block-button__link.has-background.has-text-align-left.wp-element-button,
.wp-block-button__link.has-background.wp-element-button {
  // border-radius: 10px;
  background-color: #e9840a !important;
  @include transition(0.3s ease-in-out);
  &:hover {
    background-color: darken(#e9840a, 5%) !important;
  }
}

.wp-block-navigation-item__content {
}
.wp-block-button__link.has-background.wp-element-button {
  background-color: #e9840a !important;
  @include transition(0.3s ease-in-out);
  &:hover {
    background-color: darken(#e9840a, 5%) !important;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
}

.bottom-cover {
  display: flex;
  flex-direction: column;
}

.top-cover-text-container {
  overflow: visible;
  padding: 30px;
  max-width: 640px;
  max-height: 260px;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;
  border-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  transform-origin: 50% 50%;
  transform: perspective(600px) skew(-10deg, 0deg) scale(1, 0.9848);
  display: block;
  left: 260px;
  top: 200px;
  background: rgba(0, 0, 0, 0.15);
  backface-visibility: visible;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  backdrop-filter: blur(2px);
  pointer-events: none;
  font-size: 90px;
}
.top-paragraph-container {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  padding: 0px 40px;
  clip-path: polygon(0% 100%, 6% 0%, 100% 0%, 94% 100%);
  width: 210px;
  height: auto;
  background: #e9840a;
  pointer-events: none;
  position: absolute;
  top: 480px;
  left: 620px;
}

.hide {
  display: none;
}

.invisible-space {
  padding-bottom: 30px;
}

.header-content {
  display: flex;
}

.contact-us-section {
  width: 100%;
  height: 100%;
  padding: 0px;
}

body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
