@import "root";
/*Button styling*/
.read-more {
  // border-radius: 10px;
}
.wp-block-button__link.has-background.has-text-align-left.wp-element-button,
.wp-block-button__link.has-background.wp-element-button {
  // border-radius: 10px;
  background-color: #e9840a !important;
  @include transition(0.3s ease-in-out);
  &:hover {
    background-color: darken(#e9840a, 5%) !important;
  }
}

.wp-block-navigation-item__content {
}
.wp-block-button__link.has-background.wp-element-button {
  background-color: #e9840a !important;
  @include transition(0.3s ease-in-out);
  &:hover {
    background-color: darken(#e9840a, 5%) !important;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
}

.bottom-cover {
  display: flex;
  flex-direction: column;
}


.hide {
  display: none;
}

.invisible-space {
  padding-bottom: 30px;
}

.header-content {
  display: flex;
}

.contact-us-section {
  width: 100%;
  height: 100%;
  padding: 0px;
}

body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
