.copyright-container {
  display: flex;
  flex-direction: column;
  max-width: 1300px !important;
  width: 100%;
  padding-top: 60px;
  .copyright {
    color: #000;
    font-size: 12px;
    padding-bottom: 10px;
    opacity: 80%;
    display: flex;
    justify-content: center;
  }
  .footer-line {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    padding-top: 20px;
    margin-bottom: -20px;
    opacity: 0.3;
    color: #ccc;
  }
}

.footer {
  background: linear-gradient(
    to top,
    rgba(216, 216, 216, 1) 0%,
    rgba(255, 255, 255, 0) 10%
  );
}

.footer-header {
  h3 {
    display: flex;
    align-items: center;
    border-color: rgba(0, 0, 0, 0.06);
    flex-direction: row;
    &:after {
      content: "";
      display: block;
      flex: 1 1 auto;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: inherit;
      margin-left: 20px;
    }
  }
}
