.copyright-container {
  display: flex;
  flex-direction: column;
  max-width: 1300px !important;
  width: 100%;
  padding-top: 60px;
}
.copyright-container .copyright {
  color: #000;
  font-size: 12px;
  padding-bottom: 10px;
  opacity: 80%;
  display: flex;
  justify-content: center;
}
.copyright-container .footer-line {
  content: "";
  display: block;
  flex: 1 1 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  padding-top: 20px;
  margin-bottom: -20px;
  opacity: 0.3;
  color: #ccc;
}

.footer {
  background: linear-gradient(to top, rgb(216, 216, 216) 0%, rgba(255, 255, 255, 0) 10%);
}

.footer-header h3 {
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.06);
  flex-direction: row;
}
.footer-header h3:after {
  content: "";
  display: block;
  flex: 1 1 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  margin-left: 20px;
}

/*Disables themes built-in hover effect*/
.navbar {
  height: 90px;
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  transition: background-color 0.7s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}
.navbar.active {
  background-color: rgba(233, 132, 10, 0.5);
  transition: background-color 0.7s ease;
}
.navbar.active .navbar-link-element {
  color: #ffffff;
}
.navbar.active:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.navbar.active:hover .navbar-link-element {
  color: #e9840a;
  transition: 0.3s ease-in-out;
}
.navbar.active:hover .navbar-link-element:hover {
  color: black;
}
.navbar .navbar-link-element {
  color: #e9840a;
  transition: 0.3s ease-in-out;
}
.navbar .navbar-link-element:hover {
  color: black;
}

/*Font awesome 4.7 icon styling*/
.fa {
  color: black;
  font-size: 60px !important;
}

.shift ul li a {
  position: relative;
}

.shift ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: " ";
  color: transparent;
  background: #e9840a;
  height: 1px;
}

.shift li a:hover:after {
  width: 100%;
}

.wp-block-group.alignwide.mobile-aligncenter.is-content-justification-space-between.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex.wp-container-2.is-position-sticky {
  width: 100%;
  padding: 0 30px;
}

/*Button styling*/
.wp-block-button__link.has-background.has-text-align-left.wp-element-button,
.wp-block-button__link.has-background.wp-element-button {
  background-color: #e9840a !important;
  transition: 0.3s ease-in-out;
}
.wp-block-button__link.has-background.has-text-align-left.wp-element-button:hover,
.wp-block-button__link.has-background.wp-element-button:hover {
  background-color: #d17609 !important;
}

.wp-block-button__link.has-background.wp-element-button {
  background-color: #e9840a !important;
  transition: 0.3s ease-in-out;
}
.wp-block-button__link.has-background.wp-element-button:hover {
  background-color: #d17609 !important;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.bottom-cover {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.invisible-space {
  padding-bottom: 30px;
}

.header-content {
  display: flex;
}

.contact-us-section {
  width: 100%;
  height: 100%;
  padding: 0px;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.product-container {
  overflow: hidden;
  border-bottom: 3px solid #f1f1f1;
  border-top: 3px solid #f1f1f1;
}
.product-container:hover {
  border-bottom: 3px solid #e9840a;
  border-top: 3px solid #e9840a;
}
.product-container .product-image {
  position: relative;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.product-container .product-image:hover {
  transform: scale(1.2);
}
.product-container .product-text {
  position: relative;
  z-index: 1 !important;
}

.form-container {
  border-style: none;
  border-width: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1300px !important;
}
.form-container .evangroup-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .evangroup-form input {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.form-container .evangroup-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.form-container .evangroup-form textarea {
  max-width: 423px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.form-container .evangroup-form .form-submit-button {
  justify-content: center;
  display: flex;
  align-items: center;
}
.form-container .evangroup-form .form-submit-button p {
  justify-content: center;
  display: flex;
  align-items: center;
}
.form-container .evangroup-form .form-submit-button .wpcf7-spinner {
  display: none;
}
.form-container .evangroup-form .wpcf7-form-control.wpcf7-submit.has-spinner {
  color: #ffffff;
  background-color: #e9840a;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
.form-container .evangroup-form .wpcf7-form-control.wpcf7-submit.has-spinner:hover {
  background-color: #a05a07 !important;
}

.evangroup-form:focus-visible {
  border: 1px solid red;
  background-color: red;
}

.form-header {
  padding-bottom: 20px;
}

.contact-us-container {
  border-style: none;
  border-width: 0px;
  padding-top: 80px;
}

.top-cover-text-container {
  overflow: visible;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;
  border-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  transform-origin: 50% 50%;
  transform: perspective(600px) skew(-10deg, 0deg) scale(1, 0.9848);
  display: block;
  left: 30px;
  top: 160px;
  max-width: 640px;
  max-height: 260px;
  background: rgba(0, 0, 0, 0.15);
  backface-visibility: visible;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  pointer-events: none;
  font-size: 40px;
}
@media (min-width: 1080px) {
  .top-cover-text-container {
    left: 260px;
    top: 200px;
    max-width: 640px;
    max-height: 260px;
    padding: 30px;
    font-size: 90px;
  }
}

.top-paragraph-container {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  padding: 5px 30px;
  -webkit-clip-path: polygon(0% 100%, 6% 0%, 100% 0%, 94% 100%);
  clip-path: polygon(0% 100%, 6% 0%, 100% 0%, 94% 100%);
  width: 170px;
  height: auto;
  background: #e9840a;
  pointer-events: none;
  position: absolute;
  top: 280px;
  left: 90px;
  text-align: center;
  font-size: 14px;
}
@media (min-width: 1080px) {
  .top-paragraph-container {
    top: 480px;
    left: 620px;
    width: 210px;
    line-height: 60px;
    padding: 0px 40px;
    font-size: 18px;
  }
}

.wp-block-cover__background.has-border-background-color.has-background-dim-0.has-background-dim {
  max-height: 20%;
}

.wp-block-group.alignfull.is-layout-constrained.wp-block-group-is-layout-constrained {
  max-height: 20%;
}

.wp-block-cover.alignfull.main-cover-content {
  max-height: 20%;
}

.main-cover-content {
  border: 1px solid red;
  min-height: 100vh;
  width: 100%;
  display: block;
}

/*Breakpoints*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Verdana", "Arial", sans-serif;
  line-height: 1.3;
  color: #373737;
}

#wpfront-scroll-top-container img {
  width: 50px !important;
  height: auto;
}/*# sourceMappingURL=style.css.map */