@import "footer";
@import "header";
@import "elements";
@import "products";
@import "form";
@import "root";
@import "landingpage";
/*Breakpoints*/
@import "breakpoints";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Verdana", "Arial", sans-serif;
  line-height: 1.3;
  color: #373737;
}

#wpfront-scroll-top-container img {
  width: 50px !important;
  height: auto;
}
